<footer class="container region flow">
    <p>Example site and code for webbserverprogrammering 1.</p>
    <p>Code available on <a href="https://github.com/jensadev/te22-qvitter">GitHub</a>. Please submit an <a
            href="https://github.com/jensadev/te22-qvitter/issues">issue</a> if you
        find a problem or have suggestions. Thank you!</p>
</footer>