<form action="/tweets/new" method="post" class="tweet-form">
  <label for="message">Write something amazing: </label>
  <textarea id="message" name="message" required rows="4"></textarea>
  <button type="submit">Post new</button>
</form>